<html>
  <head>
	<link rel="shortcut icon" href="/images/chat.svg" type="image/x-icon">
  <title>Rocket.Q - Dados Incorretos</title>
  
  <script>
      confirm("Os dados estão incorretos")
      window.location.replace('/room/<%= roomID %>')
    </script>
  </head>
</html>