<div class="no-questions">
  <img src="/images/no-questions.svg" alt="Nenhuma perguntao">
  <p>Nenhuma pergunta por aqui.</p>
  <p>Faça sua primeira pergunta <br> e envie o código para outras pessoas</p>
</div>