<div class="no-questions">
  <img src="/images/no-questions.svg" alt="Nenhuma perguntao">
  <p>Nenhuma pergunta por aqui</p>
  <p>Faça sua primeira pergunta e <br> <a href="" data-id="copy-send">envie o código para os seus amigos</a></p>
</div>